<div class="footer">
  <div class="socialMediaContainer">
    <ul class="socialMediaLinks">
      <li>
        <a class="link" href="https://www.instagram.com/nathanpittard/"><i class="lab la-instagram"></i></a>
      </li>
      <li>
        <a class="link" href="https://www.facebook.com/nathan.pittard.7/"><i class="lab la-facebook-square"></i></a>
      </li>
      <li>
        <a class="link" href="https://github.com/Npittard"><i class="lab la-github-square"></i></a>
      </li>
      <li>
        <a class="link" href="https://www.linkedin.com/in/nathan-pittard-846423151/"><i class="lab la-linkedin"></i></a>
      </li>
    </ul>
  </div>
  <div class="shitTalk">
    <p>sarah sucks</p>
  </div>
</div>
