
.headerItems{
    display: flex;
    justify-content:space-around;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}
.movieTitle{
    color: rgb(17, 59, 64);
    font-family: 'Dancing Script', cursive;
<<<<<<< HEAD
    font-size: 2.7vw;
    overflow-wrap: break-word;
=======
    font-size: 2.3vw;
>>>>>>> c9d6e922e48679b372a40a17ba5e0e5cd50b126a
}
/* .addMovieBtn{
    background-color: #113B40;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
} */
.headerContainer{
    border-bottom: 2px rgb(17, 59, 64) solid;
}